<!-- <div class="navigation">

<a href="">Product Transfer</a>
<a href="">Stock Safety Indicator</a>
<a href="">Profile</a>
</div> -->


<div class="bg">
    <div class="navbar">
        
        <ul>
        <li ><a routerLink = "product-transfer">Product Transfer</a></li>
        <li ><a  routerLink="safety">Safety Stock Indicator</a></li>
        <li ><a  routerLink="truck">Truck-Service</a></li>
        <li><a routerLink="log" >Logistics</a></li>
        <li ><a  routerLink="profile">Profile</a></li>    </ul>
      </div>
    
</div>
<br>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>