table.center{
    margin-left: auto; 
  margin-right: auto;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 60%;
    margin-top: 2rem;
    
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    padding-left: 10%;
  }
  input[type="checkbox"]:checked {
    background: yellow;
    color: white;
  }

  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 16px;
    width: 16px;
    border: 1px solid white;
    color: white;
  }

  
  tr:nth-child(even){background-color:lightgray}

  tr{
    background-color: white;
  }
  
  th {
    background-color:black;
    color:white;
  }

  .center{
    text-align: center;
  }
  .location-text{
    display: "flex";
  }

  @media screen and (max-width: 800px) {
    table {
      /* background-color: lightgreen; */
      width: 100%;
    }

  
}
  