



table {
    /* background: hsl(252, 100%, 24%); */
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: .5em;
    width:80%;
  
  }
  th {
    border-bottom: 1.2px solid #0d2172;
    color: #07135e;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
    height: 60px;
  }
  td {
    
    font-weight: 600;
    padding: 1em 1em;
  }
  
  
  
  .center {
      margin-left: auto;
      margin-right: auto;
    }
  
    #h_1{
      text-align: center;
      height: 50px;
    }
  
    /*background image*/
  
    #whm {
      
      width: 100%;
      text-align: center;
  }
  .text{
      width: 60%;
      margin: auto;
      padding: 5% 0;
      font-weight: bolder;
   
      
  }
  
  @media screen and (max-width: 900px) {

    table{
      font-size: .5rem;
    }
    th{
      font-size: .5rem;
    }
  }