

    <div id="whm" > 
      
      
      <div class="tab">
      <table class="center ">
        <thead>
          <tr>
            
          </tr>
         <tr>
            <th>S No.</th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Minimum Expected Stock</th>
            <th>Threshold Defined</th>
            <th>Current stock</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data">
                <td>{{d.S_No}}</td>
                <td>{{d.p_name}}</td>
                <td>{{d.p_code}}</td>
                <td>{{d.p_minstock}}</td>
                <td>{{d.p_thrdefined}}</td>
                <td>{{d.currentstock}}</td>
                <td><button>Send Email</button></td>
              </tr>
          
  </tbody>
  </table>
  </div>
  <br>
  </div>
   

